{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ artikel.judul }}</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/details.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>

</head>

<body>

  {% include 'navbar.html' %}

  <div class="container-xxl mt-5">
    <h2>
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="text-decoration-none" href="{% url 'index-artikel' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a class="text-decoration-none text-capitalize" href="{% url 'kategori-artikel' artikel.kategori %}">
              {{ artikel.kategori }}
            </a>
          </li>
          <li class="breadcrumb-item"></li>
        </ol>
      </nav>
    </h2>

    <hr>



    <div class="card">
      <div class="card-body">
        <h1 class="card-title display-1"> {{ artikel.judul }} </h1>
        <p> Ditulis oleh: {{ artikel.nama_penulis }}</p>
        <p> {{ artikel.tanggal|date:"d F Y" }} </p>
      </div>
      <img src="{{ artikel.gambar }}" alt="article-image" height="800">
      <div class="card-body">
        <blockquote class="blockquote">
          <p> {{artikel.ringkasan}} </p>
        </blockquote>
        <hr>
        <p>{{ artikel.isi|safe }}</p>
        <br>
        <figure class="text-center">
          <blockquote class="blockquote">
            {% if user.is_authenticated %}
            <form action="{% url 'like-artikel' artikel.pk %}" method="POST">
              {% csrf_token %}

              {% if liked %}
              <p>Anda telah menyukai artikel ini</p>
              <button type="submit" value="{{ artikel.id }}" class="btn btn-lg"><i
                  class="fas fa-thumbs-up"></i></button>
              {% else %}
              <p>Apakah anda menyukai artikel ini?</p>
              <button type="submit" value="{{ artikel.id }}" class="btn btn-lg"><i
                  class="far fa-thumbs-up"></i></button>
              {% endif %}
            </form>
            {% else %}

            <p>Login untuk menyukai artikel ini</p>
            <a href="{% url 'login' %}">
              <button class="btn btn-lg">
                <i class="far fa-thumbs-up"></i>
              </button>
            </a>
            {% endif %}

            <p class="mt-2">{{ likes }} likes </p>

          </blockquote>
        </figure>


        {% if user.is_authenticated %}
        <div class="mt-1">
          <a class="text-decoration-none text-dark" href=" {% url 'update-artikel' artikel.id %} "> Edit &nbsp |
            &nbsp</a>
          <a class="text-decoration-none text-dark me-2" type="button" data-bs-toggle="modal"
            data-bs-target="#deleteModal_{{ artikel.id }}"> Hapus </a>
        </div>
        <div class="modal" tabindex="-1" id="deleteModal_{{ artikel.id }}">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Anda ingin menghapus artikel ini?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                <form action="{% url 'delete-artikel' artikel.id %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" name="Confirm" class="btn" value="Hapus">
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="card my-5">

      <!-- https://bbbootstrap.com/snippets/bootstrap-like-comment-share-section-comment-box-63008805 -->
      <div class="card-body">
        <div class="card-title mx-3 my-3">
          <h2>Komentar</h2>
        </div>

        <div class="d-flex flex-column comment-section">
          {% if artikel.komen.all %}
          {% for komentar in artikel.komen.all%}
          <div class="bg-white p-2">
            <div class="d-flex flex-row user-info">
              <div class="d-flex flex-column justify-content-start ml-2">
                {% if user.is_authenticated %}
                {% if user.id == komentar.penulis.id %}
                <form action="{% url 'delete-komentar' komentar.id %}" method="POST">
                  {% csrf_token %}
                  <span class="d-block font-weight-bold name">
                    {{ komentar.penulis.get_full_name }} - <button class="name" type="submit"> Hapus </button>
                  </span>
                </form>
                {% endif %}

                {% else %}
                <span class="d-block font-weight-bold name">
                  {{ komentar.penulis.get_full_name }}
                </span>
                {% endif %}
                <span class="date text-black-50">
                  {{ komentar.tanggal }}
                </span>
              </div>
            </div>
            <div class="mt-2">
              <p class="comment-text">
                {{ komentar.isi }}
              </p>
            </div>
          </div>
          {% endfor %}
          {% endif %}

          {% if user.is_authenticated %}
          <form action="{% url 'komentar-artikel' artikel.id %}" method="POST">
            {% csrf_token %}
            <div class="bg-light p-2">
              <div class="d-flex flex-row align-items-start">
                <textarea class="form-control ml-1 shadow-none textarea" placeholder="Tambahkan komentarmu" name="isi"
                  rows="5"></textarea>
              </div>
              <div class="mt-2 text-right float-end">
                <button class="btn btn-primary btn-sm shadow-none" type="submit">
                  Kirim
                </button>
              </div>
            </div>
          </form>
          {% else %}
          <div class="bg-light p-2">
            <div class="d-flex flex-row align-items-start">
              <textarea class="form-control ml-1 shadow-none textarea" placeholder="Login untuk menambahkan komentar" name="isi"
                rows="5" disabled></textarea>
            </div>
            <div class="mt-2 text-right float-end">
              <a href="{% url 'login' %}">
                <button class="btn btn-primary btn-sm shadow-none" type="submit">
                  Kirim
                </button>
              </a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

</body>

</html>
