{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Lindungi Peduli - Tulis Artikel </title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
  {% if user.is_authenticated %}

  <div class="container-xxl my-5">

    <div class="card">
      <div class="card-body">

        <div class="d-flex justify-content-center">
          <h1 class="card-title my-3 mx-3" style="font-size: 5rem;">
            Tulis Artikel
          </h1>
        </div>

        <hr>

        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
    
          <div class="my-4y">
            <label class="form-label">Foto</label>
            {{ form.gambar }}
            <div class="form-text">Masukkan link foto artikel</div>
          </div>

          <div class="my-3">
            <label class="form-label">Judul</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" value="{{ artikel.judul }}" name="judul">
            <div class="form-text">Tuliskan judul artikel</div>
          </div>

          <div class="my-3">
            <label for="exampleFormControlInput1" class="form-label">Kategori</label>
            {{ form.kategori }}
            <div class="form-text">Pilih kategori artikel yang sesuai</div>
          </div>
          
          <div class="my-3">
            <label for="exampleFormControlInput1" class="form-label">Isi</label> <br>
            {{ form.isi }}
            <div class="form-text">Tuliskan isi artikel</div>
          </div>

          <div class="my-3">
            <label for="exampleFormControlInput1" class="form-label">Ringkasan</label>
            {{ form.ringkasan }}
            <div class="form-text">Tuliskan ringkasan artikel</div>
          </div>

          <div class="d-flex justify-content-center">
            <a href="{% url 'index-artikel' %}" class="btn btn-secondary mx-3">Cancel</a>
            <input type="submit" value="Submit" class="btn btn-primary">
          </div>
    
          
        </form>
      </div>
    </div>
  </div>
  {% endif %}
</body>

</html>