{% load static %}

<!-- {% include 'navbar.html' %} -->

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Lindungi Peduli - Artikel </title>
  <link rel=icon href="{% static 'img/logokotak.png' %}" sizes="any" type="image/svg+xml">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script>
    $(document).ready(function () {
      $("#load-More").on('click', function () {
        var _jumlahKartu = $(".card").length;
        var _limit = $(this).attr('data-limit');
        var _total = $(this).attr('data-total');

        $.ajax({
          url: '/artikel/load-more',
          data: {
            limit: _limit,
            offset: _jumlahKartu,
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
          },
          // headers: { "X-CSRFToken": '{{ csrf_token }}'},
          dataType: 'json',
          beforeSend: function () {
            $('#load-More').attr('disabled', true);
            $('#loading').addClass('spinner-border spinner-border-sm');
          },
          success: function (res) {
            $('.artikel').append(res.data);
            $('#load-More').attr('disabled', false);
            $('#loading').removeClass('spinner-border spinner-border-sm');

            if ($('.card').length == _total) {
              $("#load-More").remove();
            }
          }

        });
      });
    });
  </script>

</head>

<body>


  <div class="container-xxl position-relative">

    {% if top_1 and top_2 and top_3 %}
    
    <h2 class="mt-5 mb-3">ARTIKEL TERPOPULER</h2>
    <hr>

    <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a class="stretched-link" href=" {% url 'detail-artikel' top_1.id top_1.judul|slugify %}"></a>
          <img src="{{ top_1.gambar }}" class="d-block w-100 img-populer" alt="Gambar Terpopuler">
          <div class="carousel-caption d-none d-md-block">
            <h1>{{ top_1.judul }}</h1>
            <p class="text-break">{{ top_1.ringkasan }}</p>
          </div>
        </div>
        <div class="carousel-item">
          <a class="stretched-link" href=" {% url 'detail-artikel' top_2.id top_2.judul|slugify %}"></a>
          <img src="{{ top_2.gambar }}" class="d-block w-100 img-populer" alt="Gambar Terpopuler">
          <div class="carousel-caption d-none d-md-block">
            <h1>{{ top_2.judul }}</h1>
            <p class="text-break">{{ top_2.ringkasan }}</p>
          </div>
        </div>
        <div class="carousel-item">
          <a class="stretched-link" href=" {% url 'detail-artikel' top_3.id top_3.judul|slugify %}"></a>
          <img src="{{ top_3.gambar }}" class="d-block w-100 img-populer" alt="Gambar Terpopuler">
          <div class="carousel-caption d-none d-md-block">
            <h1>{{ top_3.judul }}</h1>
            <p class="text-break">{{ top_3.ringkasan }}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    {% endif %}


    <!-- https://bbbootstrap.com/snippets/bootstrap-search-box-input-icons-inside-88211241 -->

    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="search ui-widget">
          <form action="{% url 'search-artikel' %}" method="POST">
            {% csrf_token %} <i class="fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Cari artikel di sini" name="searched" id="searchBar">
            <button type="submit" class="btn btn-primary"> Cari </button>
          </form>
        </div>
      </div>
    </div>


    {% if artikels %}

    <h2>ARTIKEL TERBARU</h2>
    <hr>

    <div class="row row-cols-1 row-cols-md-4 g-4 artikel">
      
      {% for artikel in artikels %}
      <div class="col">
        <div class="card h-100" style="width: 18rem;">
          <img class="card-img-top" src="{{ artikel.gambar }}" alt="Gambar Artikel">
          <div class="card-body">
            <h5 class="card-title" style="transform: rotate(0);">
              {{ artikel.judul }}
              <a class="stretched-link" href=" {% url 'detail-artikel' artikel.id artikel.judul|slugify %}"></a>
            </h5>
            <h6 class="card-subtitle">
              <a href="{% url 'kategori-artikel' artikel.kategori|slugify %}">
                <button type="button" class="btn btn-outline-dark btn-sm mt-2 mb-2">{{ artikel.kategori|title }}</button>
              </a>
            </h6>
            <p class="card-text lh-base">
              {{ artikel.ringkasan }}
            </p>
          </div>
          <div class="card-footer">
            <small>
              <i class="fas fa-thumbs-up"></i> {{ artikel.jumlah_like }}
              <i class="far fa-user"></i> {{ artikel.nama_penulis }}
              <i class="fas fa-calendar-alt"></i> {{ artikel.tanggal }}

              {% if user.is_authenticated %}
              <div class="mt-1">
                <a class="text-decoration-none text-dark" href=" {% url 'update-artikel' artikel.id %} "> Edit &nbsp |
                  &nbsp </a>
                <a class="text-decoration-none text-dark me-2" type="button" data-bs-toggle="modal"
                  data-bs-target="#deleteModal_{{ artikel.id }}"> Hapus </a>
              </div>
              <div class="modal" tabindex="-1" id="deleteModal_{{ artikel.id }}">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Anda ingin menghapus artikel ini?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                      <form action="{% url 'delete-artikel' artikel.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="Confirm" class="btn" value="Hapus">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </small>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="button-form">
      <h1><span class="badge rounded-pill bg-light text-dark">
          <a href="/artikel/form" class="btn stretched-link">Tulis artikel &nbsp; &nbsp; &nbsp;<i
              class="fas fa-pencil-alt"></i></a>
        </span>
      </h1>
    </div>
    {% endif %}


    {% if load_button %}

    <div class="d-flex justify-content-center mt-5 mb-5">
      <button class="btn" id="load-More" data-total="{{ total_artikel }}" data-limit="4">
        Load more
        <span id="loading" role="status"></span></button>
    </div>
    {% else %}
    <div class="mt-5 mb-5"></div>

    {% endif %}
  </div>


  <script>
    $(function () {
      $("#searchBar").autocomplete({
        source: '{% url "autocomplete" %}'
      });
    });
  </script>


</body>

</html>