{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Artikel > {{ kategori }} </title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script>
    $(document).ready(function () {
      $("#load-More").on('click', function () {
        var _jumlahKartu = $(".card").length;
        var _limit = $(this).attr('data-limit');
        var _total = $(this).attr('data-total');

        $.ajax({
          url: '/artikel/load-more-kategori',
          data: {
            limit: _limit,
            offset: _jumlahKartu,
            term: document.querySelector('.breadcrumb-item.active').textContent,
            // csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value 
          },
          // headers: { "X-CSRFToken": '{{ csrf_token }}'},
          dataType: 'json',
          beforeSend: function () {
            $('#load-More').attr('disabled', true);
            $('#loading').addClass('spinner-border spinner-border-sm');
          },
          success: function (res) {
            $('.artikel').append(res.data);
            $('#load-More').attr('disabled', false);
            $('#loading').removeClass('spinner-border spinner-border-sm');

            if ($('.card').length == _total) {
              $("#load-More").remove();
            }
          }

        });
      });
    });
  </script>
</head>

<body>
  {% if kategori %}

  <div class="container-xxl position-relative mt-5">

    <h2>
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'index-artikel' %}">Home</a></li>
          <li class="breadcrumb-item active kategori" aria-current="page">{{ kategori }}</li>
        </ol>
      </nav>
    </h2>

    <hr>


    <div class="row row-cols-1 row-cols-md-4 g-4 artikel">
      {% if artikels %}
      {% for artikel in artikels %}
      <div class="col">
        <div class="card h-100" style="width: 18rem;">
          <img class="card-img-top" src="{{ artikel.gambar }}" alt="Gambar Artikel">
          <div class="card-body">
            <h5 class="card-title" style="transform: rotate(0);">
              {{ artikel.judul }}
              <a class="stretched-link" href=" {% url 'detail-artikel' artikel.id artikel.judul|slugify %}"></a>
            </h5>
            <h6 class="card-subtitle">
              <a href="{% url 'kategori-artikel' artikel.kategori|slugify %}"></a>
              <button type="button" class="btn btn-outline-dark btn-sm mt-2 mb-2">{{ artikel.kategori|title }}</button>
            </h6>
            <p class="card-text lh-base">
              {{ artikel.ringkasan }}
            </p>
          </div>
          <div class="card-footer">
            <small>
              <i class="fas fa-thumbs-up"></i> {{ artikel.jumlah_like }}
              <i class="far fa-user"></i> {{ artikel.penulis.get_full_name }}
              <i class="fas fa-calendar-alt"></i> {{ artikel.tanggal }}

              {% if user.is_authenticated %}
              {% if user.id == artikel.penulis.id or user.is_superuser %}
              <div class="mt-1">
                <a class="text-decoration-none text-dark" href=" {% url 'update-artikel' artikel.id %} "> Edit &nbsp |
                  &nbsp </a>
                <a class="text-decoration-none text-dark me-2" type="button" data-bs-toggle="modal"
                  data-bs-target="#deleteModal_{{ artikel.id }}"> Hapus </a>
              </div>
              <div class="modal" tabindex="-1" id="deleteModal_{{ artikel.id }}">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <form action="{% url 'delete-artikel' artikel.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="Confirm" class="btn" value="Hapus">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endif %}
            </small>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="button-form">
      <h1><span class="badge rounded-pill bg-light text-dark">
          <a href="/artikel/form" class="btn stretched-link">Tulis artikel &nbsp; &nbsp; &nbsp;<i
              class="fas fa-pencil-alt"></i></a >
        </span>
      </h1>
    </div>
    {% endif %}


    {% if load_button %}
    <div class="d-flex justify-content-center mt-5 mb-5">
      <button class="btn" id="load-More" data-total="{{ total_artikel }}" data-limit="4">
        Load more
        <span id="loading" role="status"></span></button>
    </div>
    {% else %}
    <div class="mt-5 mb-5"></div>

    {% endif %}
  </div>

  {% endif %}

</body>

</html>