{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lindungi Peduli - Forum: {{ main.topic }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    

    <link rel=icon href="{% static 'img/logokotak.png' %}" sizes="any" type="image/svg+xml">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".alert-para").on("click", function () {
                $('.alert').alert();
            });
        });
    </script>
    <style>
        .alert {
            position: absolute;
            top: 10%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, 5%);
            width: 60%;
            z-index: 9999999;
        }

        .sembunyi {
            visibility: hidden;
        }
    </style>
</head>

<!-- {% include 'navbar.html' %} -->

<body id="kejo">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5>{{ main.topic }}</h5>
            </div>
        </div>
        <div class="strand">
            <div class="thread">
                <div class="row">
                    <div class="col-sm-10 publisher">
                        {{ main.name }}
                    </div>
                    <div class="col-sm-2">
                        <small>{{ main.date_created }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8 content">
                        {{ main.content }}
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row command">
                    <div class="col-sm-12">
                        {% if user.is_authenticated %}
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#replyModal">
                                Reply
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% for reply in main.replies.all %}
            <div class="replies strand">
                <div class="thread">
                    <div class="row">
                        <div class="col-sm-10 publisher">
                            {{ reply.name }}
                        </div>
                        <div class="col-sm-2">
                            <small>{{ reply.date_created }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8 content">
                            {{ reply.content }}
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="row command">
                        <div class="col-sm-12">
                            {% if user.is_authenticated %}
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal{{reply.ide}}">
                                    Reply
                                </button>
                            {% endif %}
                        </div>
                    </div>

                    <div class="modal fade" id="commentModal{{reply.ide}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Re: {{ main.topic }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div style="border-bottom: 1px solid #e9ecef; padding-bottom: 16px;">{{ reply.content }}</div>
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="content">Message</label>
                                            <input type="text" name="content" class="form-control" id="content" aria-describedby="contentInfo" max_length=1000 placeholder="Enter your arguments here" required>
                                            <small id="contentInfo" class="form-text text-muted">This field is required</small>
                                        </div>
                                        <div class="form-check" style="border-bottom: 1px solid #e9ecef; padding-bottom: 16px;">
                                            <input type="checkbox" class="form-check-input" id="check" name="check">
                                            <label class="form-check-label" for="check">Send anonymously</label>
                                        </div>
                                        {% if user.is_authenticated %}
                                            <div style="text-align: right;">
                                                <input name="comment-thread" id="submit-white" type="submit" value="Send">
                                                <input type="hidden" name="getID" value="{{reply.ide}}">
                                            </div>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for comment in reply.replies.all %}
                <div class="comments strand">
                    <div class="thread">
                        <div class="row">
                            <div class="col-sm-10 publisher">
                                {{ comment.name }}
                            </div>
                            <div class="col-sm-2">
                                <small>{{ comment.date_created }}</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-8 content">
                                {{ comment.content }}
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="modal fade" id="replyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Re: {{ main.topic }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="border-bottom: 1px solid #e9ecef; padding-bottom: 16px;">{{ main.content }}</div>
                    <form method="POST" action="">
                        <!-- ["content", "check"] -->
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="content" style="padding-top: 16px;">Message</label>
                            <input type="text" name="content" class="form-control" id="content" aria-describedby="contentInfo" max_length=1000 placeholder="Enter your arguments here" required>
                            <small id="contentInfo" class="form-text text-muted">This field is required</small>
                        </div>
                        <div class="form-check" style="border-bottom: 1px solid #e9ecef; padding-bottom: 16px;">
                            <input type="checkbox" class="form-check-input" id="check" name="check">
                            <label class="form-check-label" for="check">Send anonymously</label>
                        </div>
                        {% if user.is_authenticated %}
                            <div style="text-align: right;">
                                <input name="reply-thread" id="submit-white" type="submit" value="Send">
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>