{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lindungi Peduli - Home</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel=icon href="{% static 'img/logokotak.png' %}" sizes="any" type="image/svg+xml">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
        function getTime(param) {
            var dict = {
                "01": "January", "02": "February", "03": "March",
                "04": "April", "05": "May", "06": "June",
                "07": "July", "08": "August", "09": "September",
                "10": "October", "11": "November", "12": "December",
            }
            year = parseInt(param.slice(0,4), 10)
            month = param.slice(5,7)
            date = parseInt(param.slice(8,10), 10)
            time = param.slice(11,19)
            

            return date + " " + dict[month] + " " + year + ", " + time
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#add_thread_button").on("click", function () {
                window.location = "/Add-Thread";
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#loadMore").on('click', function() {
                var items = $(".thread").length;
                $.ajax({
                    url: "{% url 'load' %}",
                    type: "post",
                    dataType: "json",
                    data: {
                        "index": items,
                        "csrfmiddlewaretoken": "{{csrf_token}}"
                    },

                    beforeSend: function() {
                        $("#loadMore").addClass("disabled").text("Working on it ...");
                    },

                    success: function(param) {
                        var append = '';
                        var append_data = $.parseJSON(param.show)

                        $.each(append_data, function(index, show) {
                            append +=   '<div class="thread">\
                                            <a href="/forum/' + show.fields.slug + '/">' + show.fields.topic + '</a>\
                                            <div class="container-fluid">\
                                                <div class="row">\
                                                    <div class="col-sm-3">  Publisher:</div> <div class="col-sm-9">' + show.fields.name + '</div>\
                                                </div>\
                                                <div class="row">\
                                                    <div class="col-sm-3">Date Published:</div> <div class="col-sm-9">' + getTime(show.fields.date_created) + '</div>\
                                                </div>\
                                            </div>\
                                        </div>';
                        });

                        $(".append").append(append);

                        if ($(".thread").length == param.limit) {
                            $("#loadMore").remove();
                        } else {
                            $("#loadMore").removeClass("disabled").text("Load More");
                        }
                    }
                });
            });
            $("#loadMore").trigger('click');
        });
    </script>
    <script>
        $(document).ready(function(){
            var temp = document.getElementById("nav-home");
            temp.classList.add("active");
        });
    </script>
    <style>
        #header {
            z-index: 9999999;
        }
        body {
            position: absolute;
            top: 85px;
            width: 100%;
        }
        #nav-login-logout {
            margin-right: 40px;
        }
        .logo {
            width: 200px;
            object-fit: cover;
            object-position: center center;
            height: 50px;
            margin-bottom: 0px;
        }
    </style>
</head>

<!-- {% include 'navbar.html' %} -->

<body id="kejo">
    {% csrf_token %}
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'img/banten.PNG' %}" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Banten</h3>
                    </div>
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/jakarta.PNG' %}" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>DKI Jakarta</h3>
                    </div>
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/jawa barat.PNG' %}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Jawa Barat</h3>
                    </div>
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/yogya.PNG' %}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Jawa Tengah</h3>
                    </div>
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/jawa tengah.PNG' %}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>D.I. Yogyakarta</h3>
                    </div>
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/jawa timur.PNG' %}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Jawa Timur</h3>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <p> Sumber: https://covid19.go.id/peta-sebaran-covid19 </p>
        <br><br>
        <div class="row">
            <div id="threads" class="col-sm-8">
                <div id="pour" class="row">
                    <div class="col-sm-8">
                        <h5>Discussion Threads</h5>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-sm-4">
                        <button id="add_thread_button" type="button" class="btn btn-outline-primary">Add Thread</button>
                    </div>
                    {% endif %}
                </div>
                <div class="append"></div>
                <button id="loadMore">Load More</button>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <img src="{% static 'img/rsui.jpg' %}">
                <img src="{% static 'img/angkaCovid.png' %}">
            </div>
        </div>
    </div>
</body>

</html>