{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=XLseq25kjpx1eLEfoVbii-uRTaO3GeVAaqO6Lc4LQawvAhQvSaCceLsYDznaSXeR9aYeDKbB5quN9syi4cit-88j3REpsMhlS6F6oa8mtoU" charset="UTF-8"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #header {
            z-index: 9999999;
        }
        body {
            position: absolute;
            top: 70px;
            width: 100%;
        }
        #nav-login-logout {
            margin-right: 40px;
        }
        .logo {
            width: 200px;
            object-fit: cover;
            object-position: center center;
            height: 50px;
            margin-bottom: 0px;
        }
        .bg-dark{
            background-color: #381f33 !important;
        }
        .navbar-dark{
            color: white !important;
        }
        .container-fluid {
            padding: 0px;
        }
    </style>
</head>	

<body>
    <div class="container-fluid" id="header" style="position: fixed; top:0px">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img class="logo" src="{% static 'img/logo.png' %}">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-link" id="nav-home">
                        <a class="nav-link" href="{% url 'homepage' %}">
                            Home
                            <span class="sr-only">(current)</span></a>
                        </a>
                    </li>   
                    <li class="nav-link" id="nav-covid-test">
                        <a class="nav-link" href="{% url 'covid_test' %}">
                            Tes Covid
                        </a>
                    </li>
                    <li class="nav-link" id="nav-daftar-vaksin">
                        <a class="nav-link" href="{% url 'list_tempat' %}">
                            Daftar Vaksin
                        </a>
                    </li>
                    <li class="nav-item nav-link dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Obat-obatan
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'kamus_obat:kamus-obat' %}" id="nav-kamus-obat">Kamus Obat</a>
                        <a class="dropdown-item" href="{% url 'apotek'%}" id="nav-apotek">Apotek Daring</a>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li class="nav-link" id="nav-article">
                        <a class="nav-link" href="{% url 'index-artikel' %}">
                            Artikel
                        </a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-link" id="nav-logout">
                        <a class="nav-link" href="{% url 'logout' %}">
                            Keluar
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-link" id="nav-login">
                        <a class="nav-link" href="{% url 'login' %}">
                            Masuk
                        </a>
                    </li>
                    <li class="nav-link" id="nav-register">
                        <a class="nav-link" href="{% url 'register' %}">
                            Daftar
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</body>

</html>
