{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lindungi Peduli - Add Thread</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel=icon href="{% static 'img/logokotak.png' %}" sizes="any" type="image/svg+xml">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<!-- {% include 'navbar.html' %} -->

<body id="kejo">
    <div class="container-fluid">
        <div class="col-sm-6">
            <form method="POST" action="">
                <!-- ["topic", "content", "check"] -->
                {% csrf_token %}
                <div class="form-group">
                    <label for="topic">Topic</label>
                    <input type="text" name="topic" class="form-control" id="topic" aria-describedby="topicInfo" max_length=100 placeholder="Discussion Topic" required>
                    <small id="topicInfo" class="form-text text-muted">This field is required</small>
                </div>
                <div class="form-group">
                    <label for="content">Message</label>
                    <input type="text" name="content" class="form-control" id="content" aria-describedby="contentInfo" max_length=1000 placeholder="Enter your arguments here" required>
                    <small id="contentInfo" class="form-text text-muted">This field is required</small>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check" name="check">
                    <label class="form-check-label" for="check">Send anonymously</label>
                </div>
                <input name="add_thread_input" id="submit" type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>