{% load static %}
{% block content %}
<html>
<head>
 <title>Login</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>
<body>
 <div class="container h-100">
  <div class="d-flex justify-content-center h-100">
   <div class="user_card">
    <div class="d-flex justify-content-center">
     <h3 id="form-title">Register Account</h3>
    </div>
    <div class="d-flex justify-content-center form_container">

     <form method="POST" action="" id='formuser'>
      {% csrf_token %}
      <div class="input-group mb-3" id='usernameField'>
       <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
       </div>
       {{form.username}}
      </div>
            <div class= "invalid-feedback">
            
            </div>
      <div class="input-group mb-2">
       <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
       </div>
       {{form.password1}}
      </div>
      <div class="input-group mb-2">
       <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
       </div>
       {{form.password2}}
      </div>

      <div class="form-group row">
          <div class="col-sm-10">
          {% for radio in prof_form.role %}
              <div class="custom-control custom-radio">
                  {{ radio.tag }}
                  <label class="custom-control-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
              </div>
          {% endfor %}
          </div>
      </div>
         <div class="d-flex justify-content-center mt-3 login_container">
        <input class="btn login_btn" type="submit" value="Register Account">
          </div>
     </form>
    </div>		
    <div class="mt-4">
     <div class="d-flex justify-content-center links">
      Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
     </div>
    </div>
   </div>
  </div>
 </div>
 <script>
      /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
  //We start indexing at one because CSRF_token is considered and input field 
   */

  //Query All input fields
  var form_fields = document.getElementsByTagName('input')
  form_fields[1].placeholder='Username..';
  form_fields[2].placeholder='Enter password...';
  form_fields[3].placeholder='Re-enter Password...';


  for (var field in form_fields){ 
   form_fields[field].className += ' form-control'
  }
 </script>
 <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<script type='text/javascript'>
    $(document).on( function(e){
      e.preventDefault();
      $.ajax({
        type:"POST",
        url:"{% url 'register' %}",
        data: $('#formuser').serialize(),
        dataType: 'json',
        success: function(data){
          if(data.msg == 'Success'){
            alert("Berhasil Membuat Akun");
            window.location = "/login"
          }
        }
      })
    })

  </script>
</body>
</html>
{% endblock content %}
