<!DOCTYPE html>
<title>
Register
</title>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
 {% load crispy_forms_tags %}
  <div class= "container py-5">
    <h1 align="center">Register</h1>
    <form class="form-horizontal" action='' method="POST" id="formuser" align="center">
    {% csrf_token %}
    {{form|crispy}}
    {{prof_form|crispy}}
    <input class="btn btn-primary" type="submit" value="Submit" >
    {% for message in messages %}
			<p id="messages">{{message}}</p>
		{% endfor %}
    </form>
    <p class='text-center'>Already Have an Account? <a href="{% url 'login' %}">Login</a></p>
    <p class='text-center'>Login as  <a href="/">Guest</a></p>
  </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
const form = document.getElementById('formuser');
form.addEventListener('submit', submitHandler);

function submitHandler(e){
  e.preventDefault();

  $.ajax({
    type: "POST",
    url: '{% url "register" %}',
    data: $('#formuser').serialize(),
    dataType: 'json',
    success: function(data){
      if(data.msg == "Success"){
        alert("User Created");
        window.location = '/login'
      }
    }
  });
}


</script>


