<html>
    {% load static %}
    <script src="{% static 'js/filter.js'%}" type="text/javascript"></script>

    <h3>Lokasi</h3>
    {% for k in kota %}
    <input type="checkbox" class="filter" data-filter="kota" value="{{k.id}}">
    {{k.Nama}} <br>
    {% endfor %}
    <br>
    <h3>Jenis Vaksin</h3>
    {% for j in jenis %}
    <input type="checkbox" class="filter" data-filter="jenis" value="{{j.id}}">
    {{j.Nama}} <br>
    {% endfor %}

</html>
