<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="{% static 'css/form_tambah_lokasi.css'%}" rel="stylesheet" />
    <title>Tambah Lokasi Vaksin</title>
  </head>

  <body>
    <div class="head">
      <h1> <span class="title3">Tambah </span> Lokasi<span class="title2">Vaksin </span> </h1>
    </div>
    <br>
    <form action = "" method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
          <div class="form-group">
              <label for="id_Nama">Nama</label>
              <input type="text" class="form-control" placeholder="Nama Lokasi" name="Nama" required>
          </div>
          </br>

          <div class="form-group">
            <label for="id_Lokasi">Lokasi</label>
            <input type="text" class="form-control" placeholder="Daerah Lokasi" name="Lokasi" required>
          </div>
          </br>

          <div class="form-group">
            <label for="id_Kota">Kota</label>
            {{form.Kota}}
          </div>
          </br>

          <div class="form-group">
            <label for="id_JenisVaksin">Jenis Vaksin</label>
            {{form.JenisVaksin}}
          </div>
          </br>

          <div class="form-group">
              <label for="id_Jadwal">Jadwal</label>
              <textarea class="form-control" rows="3" name="Jadwal"></textarea>
          </div>
          </br>

          <div class="form-group">
              <label for="id_LinkDaftar">Link Pendaftaran</label>
              <input type="text" class="form-control" name="LinkDaftar">
              <small id="urlHelp" class="form-text text-muted">Masukkan link pendaftaran resmi vaksin.</small>
          </div>
          </br>

          <div class="form-group">
            <label for="id_effect">Link Gambar</label>
            <input type="text" class="form-control" name="Foto">
            <small id="urlHelp" class="form-text text-muted">Masukkan link foto lokasi vaksin.</small>
          </div>

          <div align='center'>
            <button type='submit' class="btn btn-outline-secondary" id="animate2">Tambah Lokasi</button>      
          </div>
      </div>
    </form>
    <br>
    <div align='center'>
      <a href="{% url 'list_tempat' %}" >
        <button class="btn btn-secondary" id="animate">Keluar</button>
      </a>  
    </div>
    <br>
    
  </body>
</html>