{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link href="{% static 'css/daftar_vaksin.css'%}" rel="stylesheet" />

<p class="ajaxLoader">Loading Tempat</p>
{% if data %} 
{% for tmpt in data %}
<div class="col mb-1 zoom tempat-box">
  <div class="card h-100">
      <img src="{{tmpt.Foto}}" class="card-img-top gambarLokasi">
      <div class="card-body">
        <h5 class="card-title">{{ tmpt.Nama }}</h5>
        <p class="namaKota">{{ tmpt.Lokasi }}, {{ tmpt.Kota.Nama }}</p>
        <p class="namaVaksin">Jenis Vaksin: {{ tmpt.JenisVaksin.Nama }}</p>
        <p>{{ tmpt.Jadwal }}</p>
        <a href="{{ tmpt.LinkDaftar }}">
          <button class="btn btn-outline-secondary" id="animate2">Daftar</button>
        </a>
      </div>
    </div>
</div>
{% endfor %}
{% endif %}