<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="{% static 'css/daftar_vaksin.css'%}" rel="stylesheet" />
    <title>Lindungi Peduli - Pendaftaran Vaksin</title>
    <link rel=icon href="{% static 'img/logokotak.png' %}" sizes="any" type="image/svg+xml">
  </head>

  {% include 'navbar.html' %}

  <body>
    <div>
      <div class="head">
        <h1> Lokasi<span class="title2">Vaksin </span> </h1>
      </div>
      
      <div>
        <div id="filter">
          <form action="/daftar-vaksin/search" class="search">
            <div class="input-group mb-3">
              <input name="cari" type="text" class="form-control" placeholder="Cari Lokasi Vaksin">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="animate" type="submit">Cari</button>
              </div>
            </div>
          </form>
          <h4> <span class="text-muted"> Hasil Pencarian untuk </span> {{request.GET.cari}} </h4>
          <br>
          {% if user.is_superuser %}
          <a href="{% url 'tambah_tempat' %}">
            <button class="btn btn-outline-secondary tambah" id="animate" >Tambahkan Lokasi Vaksin </button>
          </a>
          {% endif %}
        </div>

        <div class="isi"> 
          <div class="row row-cols-1 row-cols-md-3" id="filteredTempat">
              {% if data %} 
              {% for tmpt in data %}
              <div class="col mb-1 zoom tempat-box">
                <div class="card h-100">
                    <img src="{{tmpt.Foto}}" class="card-img-top gambarLokasi">
                    <div class="card-body">
                      <h5 class="card-title">{{ tmpt.Nama }}</h5>
                      <p class="namaKota">{{ tmpt.Lokasi }}, {{ tmpt.Kota.Nama }}</p>
                      <p class="namaVaksin">Jenis Vaksin: {{ tmpt.JenisVaksin.Nama }}</p>
                      <p>{{ tmpt.Jadwal }}</p>
                      <a href="{{ tmpt.LinkDaftar }}">
                        <button class="btn btn-outline-secondary" id="animate2">Daftar</button>
                      </a>
                    </div>
                  </div>
              </div>
              {% endfor %}
              {% endif %}
          </div>
        </div>
      </div>
    </div>

  </body>
  <script>
    $(document).ready(function(){
      var temp = document.getElementById("nav-daftar-vaksin");
        temp.classList.add("active");
      });
  </script>
</html>