{% load static %}

<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <title> Search result </title>
            <link rel="stylesheet" href="{% static '../static/CSS/kamus_desain.css' %}" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        </head>
            <body>
                {% include 'navbar.html' %}

                <div class ="full-container">
                    
                    
                    <div class="container">
                        <h2 style="text-align: left;">
                        </br>
                        </br>
                            <span class="text-muted">Search result: </span>{{request.GET.query}}
                        </br>
                        </br>
                        </h2>
                        <nav class="navbar navbar-light" style="justify-content: center;">
                            <form class="form-inline" action="{% url 'kamus_obat:search-kamus' %}">
                            <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-secondary" type="submit">Search</button>
                            </br>
                            </br>
                            </form>
                        </nav>

                        <div class="card-group" id="products">
                            {% for obat in kamus %}
                            <div class="card-container">
                                <div class="card" style="width: 16rem;">
                                    <div class="card-img-top"><img class="h-100 d-inline-block" src="{{ obat.image }}" alt="{{obat.name}}.jpg" onerror="this.onerror=null;this.src='https://safetyaustraliagroup.com.au/wp-content/uploads/2019/05/image-not-found.png';"></div>
                                    <div class="card-body">
                                        <h5 class="card-title" style="margin-bottom: 30px;">{{ obat.name }}</h5>
                                        <a href="{% url 'kamus_obat:detil-kamus' pk=obat.id %}" class="btn btn-primary">Lihat Detail</a>
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                        </div>

                        {% if total == 0 %} 
                            </br>
                            </br>
                            <p class="text-muted" style="text-align: center;">Obat Tidak Ditemukan</p>
                        {% endif %}
                    </div>
                </div>
            </body>
</html>