{% load static %}

<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <title> Kamus Obat </title>
            <link rel="stylesheet" href="{% static '../static/CSS/kamus_desain.css' %}" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script type="text/javascript" src="{% static 'js/load.js' %}"></script>
        
        </head>
            <body>
            {% include 'navbar.html' %}

            <div class ="full-container">
                
                <div class="container">
                {% if request.user.is_superuser %}
                <div class="row">
                    <div class="col-auto mr-auto"></div>
                    <div class="col-auto"><a href="{% url 'kamus_obat:add-kamus' %}" class="btn btn-warning" style="text-align: right;">+ Tambahkan Obat</a>
                    </div>
                </div>
                {% endif %}

                
                
                <h1>
                    <span class='title'>Kamus</span><span class='title2'>Obat</span>
                </br>
                </br>
                </h1>
                    <nav class="navbar navbar-light" style="justify-content: center;">
                        <form class="form-inline" action="search">
                          <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="display:block;">
                          <button class="btn btn-outline-info" type="submit">Search</button>
                        </br>
                        </br>
                        </form>
                    </nav>

                    <div class="card-group" id="products">
                        {% for obat in kamus %}
                        <div class="card-container">
                            <div class="card" style="width: 16rem;">
                                <div class="card-img-top"><img class="h-100 d-inline-block" src="{{ obat.image }}" alt="{{obat.name}}.jpg" onerror="this.onerror=null;this.src='https://safetyaustraliagroup.com.au/wp-content/uploads/2019/05/image-not-found.png';"></div>
                                <div class="card-body">
                                    <h5 class="card-title" style="margin-bottom: 30px;">{{ obat.name }}</h5>
                                    <a href="{% url 'kamus_obat:detil-kamus' pk=obat.id %}" class="btn btn-primary">Lihat Detail</a>
                                </div>
                            </div>
                        </div>
                        

                        {% endfor %}
                    </div>
                   <button id="loadMore" data-total="{{total_data}}" data-limit="6" class="btn btn-dark btn-sm">Load More</button>

                    </br>
                    </br>

                </div> 
            </div>
        </body>
          <script>
                $(document).ready(function(){
                var temp = document.getElementById("navbarDropdown");
                    temp.classList.add("active");
                });
            </script>
</html>