{% load static %}

<!DOCTYPE html>
<html lang="en">
    <div class ="full-container">
        <head>
            <meta charset="UTF-8" />
            <title> Form Kamus </title>
            <link rel="stylesheet" href="{% static '../static/CSS/kamus_desain.css' %}" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>        
        </head>

        <body>
            {% include 'navbar.html' %}

            </br>
            </br>
            <form action='' method='POST' enctype='multipart/form-data'>

                {% csrf_token %}
                <div class="jumbotron jumbotron-fluid" style="background-color: brown;">
                    <div class="container">
                      <h1 class="display-4" style="color: white; font-weight: bold;">Warning!</h1>
                      <p class="lead" style="color: white;">Are you sure you want to delete "{{kamus.name}}" from Kamus? </p>
                      <p style="color: white;">You will not be able to retrive it.</p>
                      <button type="submit" class="btn btn-default">Confirm</button>
                      <a href="{% url 'kamus_obat:kamus-obat' %}" class="btn btn-secondary" style="margin-left: 2%;">Cancel</a>
                      </br>
                    </div>
                  </div>
            
            </form>
            </br>
            

        </body>
    </div>
</html>