{% load static %}

<!DOCTYPE html>
<html lang="en">
    <div class ="full-container">
        <head>
            <meta charset="UTF-8" />
            <title> Form Kamus </title>
            <link rel="stylesheet" href="{% static '../static/CSS/kamus_desain.css' %}" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>        
        </head>

        <body>
            <div class="container">

            </br>
            <div class="title-tambah">
            <h3><span class='title2'>Tambahkan Kamus</span><span class='title'>Obat</span></h3>
            </div>

            <form action='' method='POST' enctype='multipart/form-data'>

                    <div class="form-group">
                    </br>
                    </br>
                        <label for="id_gambar">Gambar Obat</label>
                        <p>{{form.image}}</p>
                        <small id="urlHelp" class="form-text text-muted">Enter the link address of your image choice.</small>
                    </div>
                    </br>
                    <div class="form-group">
                        <label for="id_name">Nama Obat</label>
                        <input type="text" class="form-control" placeholder="Nama Obat" name="name">
                    </div>
                    </br>
                    <div class="form-group">
                        <label for="id_description">Deskripsi Obat</label>
                        <textarea class="form-control" rows="3" name="description"></textarea>
                    </div>
                    </br>
                    <div class="form-group">
                        <label for="id_effect">Efek Samping</label>
                        <input type="text" class="form-control" name="effect">
                    </div>
                    </br>
                    <div class="form-group">
                        <label for="id_ingredients">Komposisi</label>
                        <textarea class="form-control" rows="3" name="ingredients"></textarea>
                    </div>
                    </br>
                    </br>
                    <button type="submit" class="btn btn-warning">Submit</button>
                    <a href="{% url 'kamus_obat:kamus-obat' %}" class="btn btn-secondary" style="margin-left: 2%;">Cancel</a>
                    </br>                
            
            </form>
            </br>
        </div>
        </body>
    </div>
</html>