{% load static %}

<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <title> {{ kamus.name }} </title>
            <link rel="stylesheet" href="{% static '../static/CSS/kamus_desain.css' %}" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>        
        </head>

    <body>
    {% include 'navbar.html' %}

    <div class ="full-container">
        <div class="container">
            <div class="details-container"> 

                <div class="row">
                    <div class="col-md-5">
                    </br>
                        <div class="detil-image"><img class="img-thumbnail" src="{{ kamus.image }}" alt="foto obat" style="width: 400px" onerror="this.onerror=null;this.src='https://safetyaustraliagroup.com.au/wp-content/uploads/2019/05/image-not-found.png';">
                        </div>
                    </div>
                        <div class="col-md-7"> 
                            <h2 class="nama-obat">{{ kamus.name }}</h2>
                            </br>
                            <hr class="my-4">
                            <h6><span class='title3'>Deskripsi :</span></h6>
                            <p>{{ kamus.description }}</p>
                            </br>
                            <hr class="my-4">
                            <h6><span class='title3'>Efek Samping :</span></h6>
                            <p>{{ kamus.effect }}</p>
                            </br>
                            <hr class="my-4">
                            <h6><span class='title3'>Komposisi :</span></h6>
                            <p>{{ kamus.ingredients }}</p>
                        </div>
                </div>

            </div>
            </br>
            </br>

            <a href="{% url 'kamus_obat:kamus-obat' %}" class="btn btn-secondary">Back</a>
            {% if user.is_superuser %}
            <a href="{% url 'kamus_obat:delete-kamus' pk=kamus.id %}" class="btn btn-danger">Delete</a>
            {% endif %}

            </br>
            </br>

        </div>
        </body>
    </div>
</html>