body {
    background: #d1d5db;
}

.date {
    font-size: 11px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}

button.name {
    padding: 0;
    border: none;
    background: none;
}

