body {
    background: #d1d5db
}

.card-img-top {
    height: 300px;
}


.img-populer {
    width: 100%;
    filter: brightness(50%);
}

.carousel-inner .carousel-item {
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
}

.button-form {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.col .card.h-100 {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0;
    transition: all 0.3s;
}

.col .card.h-100:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-caption.d-none.d-md-block {
    color: antiquewhite;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.height {
    height: 40vh
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
}
