.title {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #EBCB25;
}

.title2 {
    /* line-height: 75px; */
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #229BD8;
}
#searchBar{
    margin: 0 auto;
}

#button-addon2{
  background-color: #EBCB25;
  border: #EBCB25;
  color: black;
  cursor: pointer;
}
#button-addon2:hover{
  background-color: white;
  border: 1px solid #EBCB25;
  color: #EBCB25;
  cursor: pointer;
}
    
.card{
    margin: 25px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s;   
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.card-img-top{
    height: 120px;  
}
.card-body{
    height: 150px;
    background-color: #F6F6F6;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-title{
    font-size: medium;
}
.card-text{
    font-size: small;
}

#buy{
    background-color: #229BD8;
    color: white;
    border:  #229BD8;
    bottom: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
}
#buy:hover{
    background-color: white;
    color: #229BD8;
    border: 1px solid #229BD8;
    bottom: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
}

#tambahBtn{
    background-color: #EBCB25;
    border: #EBCB25;
    color: black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
#tambahBtn:hover{
    background-color: white;
    border: 1px solid #EBCB25;
    color: #EBCB25;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}