body {
  max-width: 100%;
  overflow-x: hidden;
}

.filter-group {
  position: absolute;
  left: 5%;
  top: 50%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  width: 20%;
}

.filter{
  padding: 10px;
  border-bottom: 5px solid #efefef;
}

h3 {
  padding-bottom: 5px;
  font-size: 25px;
}

.list-group-item {
  padding: 5px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.content:after {
  content: "";
  display: table;
  clear: both;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 70%;
  left: 50%;
  width: 80%;
}

.card { 
  width: 100%;
  height: auto;
  background: white;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: all 0.3s;
}
.photo {
  width: 35%;
  text-align: center;
  float: left;
}


.description {
   padding: 15px 20px;
   float: left;
   width: 55%;
   border-left: 2px solid #efefef;
}
   
#card-price {
color: #b11414;
font-weight: 300;
padding-top: 5px;
padding-bottom: 20px;
margin: 0;
font-size: 25px;
font-weight: 500;
}
 
h2 {
color: #515151;
margin: 0;
text-transform: uppercase;
font-weight: 600;
font-size: 24px;
}
  
h4 { 
margin-top: 5px;
color: #727272;
font-weight: 500;
font-size: 14px
}

.col1{
  width: 25%;
  padding: 0;
}

.col2{
  width: 75%;
}

img{
  width: 200px;
  object-fit: cover;
  object-position: center center;
  height: 200px;
  margin-bottom: 0px;
}
  
.btn {
  border: 1px solid #d9d9d9;
  padding: 10px 0px;
  color: #515151;
  width: 125px;
  font-family: inherit;
  margin-right: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
  background-color: white;
  font-size: 14px;
}
     
button:hover {
       
  background:#5078ef;
  border: 1px solid #5078ef;
  color: white;
  cursor: pointer;  
  }

.container {
  margin: 0;
}

/* HEADING */

.heading {
  text-align: center;
  /* sumber: Dreamstime.com */
  background-image: url("https://thumbs.dreamstime.com/b/collage-flu-covid-virus-cells-blood-under-microscope-209125998.jpg");
  background-size: auto;
  background-color: #cccccc;
  padding: 100px;
  padding-bottom: 250px;
  /* -webkit-text-stroke-width:2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
   */
   text-shadow:
   -3px -3px 0 rgb(251, 249, 249),
    0   -3px 0 rgb(251, 249, 249),
    3px -3px 0 rgb(251, 249, 249),
    3px  0   0 rgb(251, 249, 249),
    3px  3px 0 rgb(251, 249, 249),
    0    3px 0 rgb(251, 249, 249),
   -2px  3px 0 rgb(251, 249, 249),
   -3px  0   0 rgb(251, 249, 249);
}

.title {
  font-size: 70px;
  font-weight: 900;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #85ba09;
  padding-left: 40px;
}

.title2 {
  /* line-height: 75px; */
  font-size: 70px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #229BD8;
  padding-right: 40px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  h2 {
    font-size: 20px;
  }
  img{
    width: 100%;
  }
  .photo {
    padding: 20px;
  }
}

@media (max-width: 1024px) {
  h2 {
    font-size: 16px;
  }
  .list-group-item{
    font-size: 12px;
  }
  h3 {
    font-size: 16px;
  }
  .photo {
    padding: 10px;
  }
}

@media (max-width: 900px) {
  .filter-group{
    padding: 5px;
    left: 0%;
    width: 24%;
  }
  h1 {
    font-size: 20px;
    font-weight: 100;
  }
  .heading__title{
    font-size: 40px;
  }
}