body{
    background-color: #ffffff !important;
}

h1 {
    text-align: center;
    margin-top: 35px!important;
    font-size: 46px!important;
    font-style: normal !important;
    font-weight: bold!important;
    color: #EBCB25!important;
}

.title2 {
    color: #229BD8!important;
}


.search {
    text-align: center;
    width: 250px;
}

p {
    font-family: Verdana;
    font-size: x-small;
    margin-bottom: 5px;
}

.namaKota {
    font-size: small;
    font-style: italic;
    color: #716d6d;
}

.namaVaksin {
    font-size: small;
}

.gambarLokasi {
    align-self: center;
    width: 280px;
    height: 200px;
}

.isi {
    float:right;
    width: 73%;
    padding: 15px;
}

.center {
    margin: auto;
    padding: 10px;
}

#filter {
    position: fixed;
    text-align: left;
    left: 5%;
    top:30%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width: 20%;
}

#animate:hover { 
    border: 1px solid #ffffff;
    background-color: #EBCB25;
    color: white;
    cursor: pointer;
}

#animate2:hover { 
    border: 1px solid #ffffff;
    background-color: #229BD8;
    color: white;
    cursor: pointer;
}

.cardgroup {
    width: 800px;
    align-self: center;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    width: 300px;
}

.card-body {
    text-align: left;
}

.zoom {
    padding: 15px;
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1); 
}

@media (max-width: 1200px) {
    .search {
        width: 200px;
    }

    .tambah {
        width: 200px;
        font-size: small !important;
    }
  }
  
  @media (max-width: 1024px) {
    .search {
        width: 150px;
    }

    .tambah {
        width: 150px;
        font-size: x-small !important;
    }
  }
  
  @media (max-width: 900px) {
    .search {
        width: 100px;
    }

    .tambah {
        width: 100px;
        font-size: 5px !important;
    }

    .zoom {
        padding: 15px;
        transition: transform .2s;
        margin: 0 auto;
    }
    
    .zoom:hover {
        transform: scale(1.05); 
    }

  }