body{
    background-color: #ffffff !important;
}

h1 {
    text-align: center;
    margin-top: 35px!important;
    font-size: 46px!important;
    font-style: normal !important;
    font-weight: bold!important;
    color: #EBCB25!important;
}

.title2 {
    color: #229BD8!important;
}

.title3 {
    color: #d82222!important;
}

.center {
    margin: auto;
    padding: 10px;
}

#animate:hover { 
    border: 1px solid #ffffff;
    background-color: #d82222;
    color: white;
    cursor: pointer;
}

#animate2:hover { 
    border: 1px solid #ffffff;
    background-color: #EBCB25;
    color: white;
    cursor: pointer;
}

#title {
    font-size: 20px;
}

label {
    margin-top: 10px;
}

input:required {
    border: 2px solid rgb(0, 0, 0);
}

