#loadMore {
    position: relative;
    bottom: 0;
    left: 50%;
    color:black;
    background-color: #DAE0E6;
    border-radius: 5px;
    border: none;
    transition-duration: 0.4s;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 5%);
}

#loadMore:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.thread {
    background-color: white;
    padding: 4px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container {
    margin: 5px;
    padding: 5px;
}

#kejo {
    font-size: 16px;
    text-decoration: none;
    background-color: #DAE0E6;
    padding: 5px;
}

h5 {
    font-weight: bolder;
    font-size: 18px;
}

.content {
    margin-top: 1%;
}

#submit {
    margin-top: 5px;
    background-color: #DAE0E6;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    transition: .15s ease-in-out;
}

#submit:hover {
    background-color: #007bff;
    color: white;
}

#submit-white {
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    transition: .15s ease-in-out;
}

#submit-white:hover {
    background-color: #007bff;
    color: white;
}

img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#pour {
    padding-bottom: 5px;;
}

.command {
    text-align: right;
}

.publisher {
    color: #966b00;
}

.strand {
    background-color: #966b00;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.replies {
    margin-left: 40px;;
}

.comments {
    margin-left: 80px;
}

.modal-dialog {
    position: absolute;
    top: 85px;
}

.alert {
    position: absolute;
    top: 10%;
    margin: auto;
    width: 60%;
    z-index: 9999999;
}