.title {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #EBCB25;
}

.title2 {
    /* line-height: 75px; */
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #229BD8;
}

#formTable{
    width: 50%;
    height: 400px;
    margin: 0 auto;
    background-color:#229bd8de;
    color: white;
    font-weight: 100;
    border-radius: 10px;
}
#sbmt{
    background-color: #EBCB25;
    border: #EBCB25;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 600px;
}
#sbmt:hover{
  background-color: white;
  border: 1px solid #EBCB25;
  color: #EBCB25;
  cursor: pointer;
  width: 600px
}

.container {
    height: 75px;
    position: relative;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}