/* https://codepen.io/shantedenise/pen/GYyxWV - Shante Austin */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        background: #e4eefa;
    }
  #title-Tag-Line {
    font-size: 20px;
  }
  
  .form {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 5px solid #844064;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
    text-align: center;
  }
  .pageTitle{
    margin-top: 30px;
    font-size: 40px;
    font-weight: bolder;
  }
  
  .entry {
    background-color: #ebebeb;
    color: #1C0C5B;
  }
  .entry:hover {
    border-bottom: 5px solid #0e3721;
  }

  .message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
  }

  .center {
      text-align: center;
  }

  .form-select {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      background-color: #ebebeb;
      border: none;
      padding: 10px;
      margin-top:  10px;
      margin-bottom: 20px;
  }
  
  .message:hover {
    border-bottom: 5px solid #0e3721;
    transition: ease 0.5s;
  }
  
  .formEntry {
    display: block;
    margin-top:  10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width: 80%;
    padding: 10px;
    border-radius: 2px;
    border: none;
  }

  label {
      font-size: 16px;
      margin-top: 10px;
      text-align: left;
      font-weight: 600;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: #1C0C5B;
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
    background-color: #916BBF;
  }
  
  a {
          color: white;
          text-decoration: none;
      }
  h3 {
    text-align: center;
  }
    
    
    #menu a:hover {
      background-color: #916BBF;
    }