.full-container {
    background-color: rgb(240, 240, 240);
    background-size: cover;
}
h1 {
    text-align: center;
}
.title {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #EBCB25;
}

.title2 {
    /* line-height: 75px; */
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #229BD8;
}


/* ---- jangan didelete ---- */
.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.card {
    
    text-align: center;
    margin: 50px;
    box-shadow: 0px 0px 20px rgb(70, 69, 69);

}

.card-img-top {
    height: 200px;
    margin-bottom: 15px;
}

.card-img-top img {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}
/*---------- end -------------*/


.nama-obat {
    padding-top : 5%;
    font-style: normal;
    font-weight: bold;
    color: #229BD8;;
}

.title3 {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #EBCB25;
}

.form-group input[type=text]:focus{
    border-style: 3px solid #229bd86c;
}


.form-group label {
    font-weight: bold;
}

.text-tambah {
    text-align: left;
}
