{% for obat in kamus %}
<div class="card-container">
    <div class="card" style="width: 16rem;">
        <div class="card-img-top"><img class="h-100 d-inline-block" src="{{ obat.image }}" alt="{{obat.name}}.jpg" onerror="this.onerror=null;this.src='https://safetyaustraliagroup.com.au/wp-content/uploads/2019/05/image-not-found.png';"></div>
        <div class="card-body">
            <h5 class="card-title" style="margin-bottom: 30px;">{{ obat.name }}</h5>
            <a href="{% url 'kamus_obat:detil-kamus' pk=obat.id %}" class="btn btn-primary">Lihat Detail</a>
        </div>
    </div>
</div>

{% endfor %}