{% for artikel in artikels %}
<div class="col">
    <div class="card h-100" style="width: 18rem;">
        <img class="card-img-top" src="{{ artikel.gambar }}" alt="Gambar Artikel">
        <div class="card-body">
            <h5 class="card-title" style="transform: rotate(0);">
                {{ artikel.judul }}
                <a class="stretched-link" href=" {% url 'detail-artikel' artikel.id artikel.judul|slugify %}"></a>
            </h5>
            <h6 class="card-subtitle">
                <a href="{% url 'kategori-artikel' artikel.kategori|slugify %}">
                    <button type="button" class="btn btn-outline-dark btn-sm mt-2 mb-2">{{ artikel.kategori|title }}</button>
                </a>
            </h6>
            <p class="card-text lh-base">
                {{ artikel.ringkasan }}
            </p>
        </div>
        <div class="card-footer">
            <small>
                <i class="fas fa-thumbs-up"></i> {{ artikel.jumlah_like }}
                <i class="far fa-user"></i> {{ artikel.nama_penulis }}
                <i class="fas fa-calendar-alt"></i> {{ artikel.tanggal }}

                {% if user.is_authenticated %}
                <div class="mt-1">
                    <a class="text-decoration-none text-dark" href=" {% url 'update-artikel' artikel.id %} "> Edit &nbsp
                        | &nbsp </a>
                    <a class="text-decoration-none text-dark me-2" type="button" data-bs-toggle="modal"
                        data-bs-target="#deleteModal_{{ artikel.id }}"> Hapus </a>
                </div>
                <div class="modal" tabindex="-1" id="deleteModal_{{ artikel.id }}">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Anda ingin menghapus artikel ini?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                <form action="{% url 'delete-artikel' artikel.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" name="Confirm" class="btn" value="Hapus">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </small>
        </div>
    </div>
</div>
{% endfor %}