{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel=icon href="{% static 'img/logokotak.png' %}" sizes="any" type="image/svg+xml">
  <title>Apotek</title>
  <link rel="stylesheet" href="{% static 'css/apotek.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
{% include "navbar.html" %}
<body id="apotek">
  <h1 class="text-center pt-3 pb-5">
    <span class="title">Daftar</span><span class="title2">Obat</span>
  </h1>
    <form id=search action="{% url 'cari-obat' %}" method="get">
      {% csrf_token %}
      <div class="input-group mb-3 w-50" id="searchBar">
          <input type="text" class="form-control" id="searchFill" name="srcFill" placeholder="Cari produk..." aria-describedby="button-addon2">
          <div class="input-group-append">
              <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Cari</button>
          </div>
      </div>
    </form>
      <div class="container-fluid flex-container pt-3 pb-5" >
        {% for i in obat %}
        <div class="card" >
            <img class="card-img-top" src={{i.link_gambar}}></img>
            <div class="card-body">
            <h4 class="card-title">{{i.nama_obat}}</h4>
            <p class="card-text">{{i.khasiat}}</p>
            <a id="buy" class="btn btn-primary btn-sm" href={{i.link_produk}} target="_blank" rel="noopener noreferrer">Beli sekarang</a>
            </div>
        </div>
        {% endfor %}
    
    </div>
    {% if user.is_authenticated %}
    <a type="button" class="btn btn-primary" id="tambahBtn" href="{% url 'tambahkan-obat' %}">Tambah Obat</a>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <!--Referensi script: https://youtu.be/-oLVZp1NQVE -->
    <script>
      $( function() {
        $( "#searchFill" ).autocomplete({
          source: "{% url 'auto-complete-sb'%}"
        });
      } );
    </script>
</body>
<script>
  $(document).ready(function(){
    var temp = document.getElementById("navbarDropdown");
      temp.classList.add("active");
    });
</script>
</html>