{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel=icon href="{% static 'img/logokotak.png' %}" sizes="any" type="image/svg+xml">
    <title>Tambahkan Obat</title>
    <link rel="stylesheet" href="{% static 'css/obat_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  {% include "navbar.html" %}
  <body id="body">
    <h1 class="text-center pt-3 pb-5">
      <span class="title">Tambah</span><span class="title2">Obat</span>
    </h1>
    <form class="form-group" action="" method="POST">
        {% csrf_token %}
        <table class="table table-borderless pb-3" id="formTable">
            {{forms.as_table}}
        </table>
        <div class="container">
          <div class="center">
            <input type='submit' class="btn btn-primary btn-lg" value="Tambahkan" id="sbmt">
          </div>
        </div>
    </form>
  </body>
  <script>
    $(document).ready(function(){
      var temp = document.getElementById("navbarDropdown");
        temp.classList.add("active");
      });
  </script>
</html>