{% load static %}
<script type="text/javascript" src="{% static 'js/covidTestFilter.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<script>
    $( function() {
      $( "#search" ).autocomplete({
        source: '{% url 'covid_test' %}'
      });
    } );
</script>

<div class="filter">
<h3 class="filter-header">Pencarian</h3>
<form class="form-inline" action="{% url 'search-test' %}">
	<input name="query" class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" aria-label="Search" style="display:block;" id="search">
	<button class="btn btn-outline-secondary" id="submit-search" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
	</svg></button>
</br>
</br>
</form>
</div>
<!-- Filter 1 -->
<div class="filter">
	<h3 class="filter-header">Kategori</h3>
	<div class="list-group list-group-flush">
		{% for type in types %}
		<li class="list-group-item">
			<input class="filter-checkbox" data-filter="type"    value="{{type.id}}" type="checkbox" />&nbsp;
			{{type.title}}
		</li>
		{% endfor %}
	</div>
</div>
<!-- Filter 2 -->
<div class="filter">
	<h3 class="filter-header">Lokasi</h3>
	<div class="list-group list-group-flush">
		{% for city in cities %}
		<li class="list-group-item">
			<input class="filter-checkbox" data-filter="city" value="{{city.id}}" type="checkbox" />&nbsp;
			{{city.title}}
		</li>
		{% endfor %}
	</div>
</div>