{% if covidTests %} 
  {% for covidTest in covidTests %}
    <div class="card w-75">
      <div class="container">
        <div class="row">
          <div class="col1">
            <img src="{{covidTest.test_image}}">
          </div>
          <div class="col2">
              <div class="card-body">
                <h2>{{covidTest.title}}</h2>
                <h4>{{covidTest.location}}</h4>
                <h1 id="card-price">Rp{{covidTest.price}}</h1>
                  <a href="{% url 'detail-tes-covid' covidTest.id covidTest.title|slugify %}" class="btn btn-primary">Lebih Lengkap</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% else %}
  <h5> Hasil Filter Tidak Ditemukan. </h5>
{% endif %}

<style>
  h5 {
    background-color: white;
    padding: 20px;
    font-size: 20px;
  }
</style>