{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel=icon href="{% static 'img/logokotak.png' %}" sizes="any" type="image/svg+xml">
<title>Tambah Tes Covid</title>
<link rel="stylesheet" href="{% static 'css/tes-covid-form.css' %}">
{% endblock meta %}

{% block content %}
  <div class="heading">
    <h1 class="pageTitle"> 💉 ADD COVID TEST 💉</h1>
    <a class="admin-button" href="{% url 'covid_test' %}">X</a>
  </div>
  <br><br>
  <form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <br>
    <button class="btn btn-primary"> Submit </button>
    <br>
    <br>
  </form>
  <style>
    h1 {
      text-align: center;
    }
    form {
      text-align: center;
    }
    a {
      position: absolute;
      left: 90%;
      top: 5%;
      font-size: 30px !important;
      color: black;
      font-weight:700;
    }
  </style>
{% endblock content %}

