{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel=icon href="{% static 'img/logokotak.png' %}" sizes="any" type="image/svg+xml">
<title>Tes Covid</title>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<link rel="stylesheet" href="{% static 'css/covid.css' %}">
<div class="main-container">
  <div class="heading">
    <mark><span class='title'>Tes</span><span class='title2'>Covid</span></mark>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <div class="content">
    <div class ="filter-group">
      {% include 'filters.html' %}
        {% if user.is_superuser %}
        <a class="btn btn-primary admin-button" href="{% url 'add_test' %}">Tambahkan Daftar</a>
      {% endif %}
    </div>
    <div class = "column">
      <div class="cards">
        {% if covidTests %} 
            {% for covidTest in covidTests %}
            <div class="card w-75">
              <div class="container">
                <div class="row">
                  <div class="col1">
                    <img src="{{covidTest.test_image}}">
                  </div>
                  <div class="col2">
                      <div class="card-body">
                        <h2>{{covidTest.title}}</h2>
                        <h4>{{covidTest.location}}</h4>
                        <h1 id="card-price">Rp{{covidTest.price}}</h1>
                          <a href="{% url 'detail-tes-covid' covidTest.id covidTest.title|slugify %}" class="btn btn-primary">Lebih Lengkap</a> 
                      </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <h5> Hasil Pencarian Tidak Ditemukan. </h5>
        {% endif %}
      </div>
    </div>
  </div>
  
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<style>
  .admin-button{
    width: auto !important;
    padding: 15px !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn-outline-secondary{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .search-bar{
    width: 75% !important;
  }
  h5 {
    background-color: white;
    padding: 20px;
    font-size: 20px;
  }
</style>
<script>
  $(document).ready(function(){
    var temp = document.getElementById("nav-covid-test");
      temp.classList.add("active");
    });
</script>
{% endblock content %}

