{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel=icon href="{% static 'img/logokotak.png' %}" sizes="any" type="image/svg+xml">
<title>{{covidTest.title}}</title>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock meta %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{covidTest.title}}</h3>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="{{covidTest.test_image}}" class="img-responsive">
                    <h2 class="margin1">
                        Rp{{covidTest.price}}
                    </h2>
                    {% if user.is_superuser %}
                        <a href="{% url 'delete-test' covidTest.id covidTest.title|slugify %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    </div>
                    
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <ul class="list-unstyled">
                        <li>
                            <table class="table table-striped table-product">
                            <tbody>
                                <tr>
                                    <td width="200">Kategori</td>
                                    <td>{{covidTest.type}}</td>
                                </tr>
                                <tr>
                                    <td>Lokasi</td>
                                    <td>{{covidTest.location}}</td>
                                </tr>
                                <tr>
                                    <td>Hasil Tes</td>
                                    <td>{{covidTest.result_time}}</td>
                                </tr>
                                <tr>
                                    <td>Jadwal</td>
                                    <td>{{covidTest.schedule}}</td>
                                </tr>
                                <tr>
                                    <td>Deskripsi</td>
                                    <td>{{covidTest.description}}</td>
                                </tr>
                                <tr>
                                    <td>No. Telepon</td>
                                    <td>{{covidTest.phone}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{covidTest.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </li>
                    </ul>
                    <br><a class="btn btn-primary btn-rounded" href="{{covidTest.link}}" target="_blank">Daftar Sekarang</a>
                    <a class="btn btn-primary btn-rounded return" href="{% url 'covid_test' %}">Kembali</a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
body{
    background-color: #edf1f5;
    margin-top:20px;
}
.card {
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}
img{
  width: 350px;
  object-fit: cover;
  object-position: center center;
  height: 350px;
  padding: 20px;
  padding-top: 60px;
}
.card-title{
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    margin-top: 40px;
}
.margin1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: bolder;
    color: red;
}

ul{
    margin-bottom: 20px;
    margin-top: 40px;
}

.white-box{
    padding-top: 20px;
}

a {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    height: 40px;
}

.return{
    margin-left: 20px;
    background-color: #94a3a6;
    border: none;
}

.return:hover {
    background-color: #515657;
    border: none;
}

</style>
{% endblock content %}