{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel=icon href="{% static 'img/logokotak.png' %}" sizes="any" type="image/svg+xml">
<title>Hapus {{covidTest.title}}</title>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock meta %}

{% include 'navbar.html' %}
{% block content %}
</br>
        </br>
        <form action='' method='POST' enctype='multipart/form-data'>

            {% csrf_token %}
            <div class="jumbotron jumbotron-fluid" style="background-color: brown;">
                <div class="container">
                    <h1 class="display-4" style="color: white; font-weight: bold;">Warning!</h1>
                    <p class="lead" style="color: white;">Apakah kamu yakin ingin menghapus "{{covidTest.title}}" dari daftar tes Covid? </p>
                    <p style="color: white;">Data tidak akan bisa dikembalikan.</p>
                    <button type="submit" class="btn btn-primary">Setuju</button>
                    <a href="{% url 'detail-tes-covid' covidTest.id covidTest.title|slugify %}" class="btn btn-secondary" style="margin-left: 2%;">Tidak</a>
                    </br>
                </div>
                </div>
        
        </form>
        </br>

{% endblock content %}